*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: skyblue;
}

.container {
    /* reconsider this section */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: calc(100% - 7rem);
    margin-inline: auto;
}

.text {
    flex: 1;
}

.canvas {
    align-self: center;
    background-color: white;
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: row;
    height: 90svh;
    aspect-ratio: 1 / 1;
    margin-inline: auto;
    padding: 1px;
    outline: 2px solid black;
}

.column {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.pixel {
    flex: 1;
    margin: 1px;
    background-color: lightgoldenrodyellow;
}

.drawn {
    background-color: gray;
}

#currentPixel {
    /* outline: 2px solid red; */
    color: red;
    text-align: center;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}

#arrows {
    position: relative;
    transition: all 80ms;
}

#upArrow,
#downArrow {
    position: absolute;
    width: 0px;
    height: 0px;
    inset: 50%;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
#upArrow {
    transform: translate(-50%, calc(-100% - 1px));
    border-bottom: 18px solid red;
}
#downArrow {
    transform: translate(-50%, 1px);
    border-top: 18px solid white;
}
